/* -----------------
shared common style
------------------- */
* {
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}


.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.text-primary {
    color: #F00;
}

.text-secondary {
    color: #070211;
}


/* --------------------
banner section style
---------------------- */
.banner {
    height: 600px;
    width: 1320px;
    background-image: url("../images/Banner-Image.png");
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 1;
}

.banner-overlay {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: radial-gradient(farthest-side, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7));
    position: absolute;
    z-index: 2;
}

.banner-titles {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;

    position: relative;
    z-index: 3;
}

.banner-titles h3 {
    font-size: 32px;
    font-weight: 400;
}

.banner-titles h1 {
    font-size: 72px;
    font-weight: 900;
}


/* --------------------
discount section style 
-----------------------*/
.discount {
    font-family: Inter;
    text-align: center;
    margin: 120px 0;
}

.discount h2 {
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.discount h4 {
    font-size: 24px;
    font-weight: 500;

}

.discount h3 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

.discount img {
    width: 802px;
    height: auto;
}

/*---------------------
 midnight-party section 
 -----------------------*/
.midnight-party {
    display: flex;
    justify-content: center;
    align-items: center;
}

.midnight-party-inner {
    width: 1320px;
    height: 600px;
    margin: 0 0 120px 0;
    background-image: url("../images/Vectorrr.png");
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
    z-index: 1;
}

.midnight-party-overlay {
    position: absolute;
    z-index: 2;

    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
}

.midnight-sec-text-container {
    position: relative;
    z-index: 3;
    padding-left: 126px;
}

.midnight-sec-text-container h2 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 24px;
}

.midnight-sec-text-container P {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 48px;
    width: 50%;
}



/*-----------------------
 our-portfolio section
 ----------------------- */
.our-portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-portfolio-inner {
    width: 1320px;
    margin-bottom: 120px;
}

.our-portfolio-details h3 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.our-portfolio-details h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}

.text-paragraph {
    color: rgba(100, 100, 100, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 48px;
    width: 66%;
}

.our-portfolio-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.our-portfolio-images img {
    width: 424px;
    height: 450px;

    &:hover {
        box-shadow: 2px 2px 8px lightgray;
        transform: scale(1.01);
        transition: all 0.2s ease-out;


    }
}

/*----------------
    newsletter
--------------- */


.newsletter-section {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 120px;
}

.newsletter-section-inner {
    padding: 80px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    width: 1320px;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

}

.newsletter-section-inner img {
    width: 150px;
    height: 150px;
    margin-bottom: 40px;
}

.newsletter-section-inner h2 {
    color: #070211;
    /* text-align: center; */
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;

    margin-bottom: 22px;
}


.newsletter-section-inner p {
    width: 896px;
    line-height: 32px;

    margin-bottom: 48px;
}

#email-id {
    width: 438px;
    border-radius: 50px 0 0 50px;
    border: none;
    padding: 25px 0 25px 30px;

    background: #FFF;
}

#subscribe-id {
    width: 210px;
    background-color: #F00;
    border: none;
    color: #fff;
    border-radius: 0 50px 50px 0;
    padding: 25px 56px;
    margin-left: -4px;
}


/* ------
   footer 
---------*/
footer {
    padding: 120px;
    background: #070211;

    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.footer-address-phone-website {
    display: flex;
    justify-content: space-between;

    padding-bottom: 50px;
}

.phone-website-sec div {
    display: flex;
}

.phone-website-sec img {
    width: 24px;
    height: 24px;
}

.phone-website-sec p {
    padding-left: 16px;
}

hr {
    border: 1px solid #FFFFFF26;
}

.social-icons {
    display: flex;
    justify-content: center;

    padding: 48px 0;
}

.social-icons img {
    width: 64px;
    height: 64px;
    padding-right: 24px;
}

.footer-all-rights-and-unsubscribe {
    display: flex;
    justify-content: space-between;

    padding-top: 50px;
}